@use "../../styles/variables" as *;

.profile {
  padding: 2rem 2rem 2rem 2.5rem;
  display: flex;
  gap: 2rem;
  background-color: $base-profile;
  border-radius: 0.625rem;
  box-shadow: 0 2px 28px 0 rgba($color: #000000, $alpha: 0.2);
}

.profile__avatar {
  width: 9.25rem;
  height: 9.25rem;
  flex-shrink: 0;
  border-radius: 0.5rem;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16 / 9;
  }
}

.profile__content {
  margin-top: 0.5rem;

  .profile__content__info {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 0.5rem;

    h1 {
      color: $base-title;
      font-size: $font-2xl;
      font-weight: $font-weight-bold;
    }
  }

  & > p {
    margin-bottom: 1.5rem;
    color: $base-text;
    font-size: $font-md;
    font-weight: $font-weight-regular;
    line-height: $line-height;
  }
}
