@use "../../styles/variables" as *;

.link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  color: $blue;
  font-size: $font-xs;
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  transition: 0.3s;

  &::before{
    content: "";
    width: 0%;
    height: 1px;
    display: block;
    position: absolute;
    top: calc(100% + 3.5px);
    left: 0;
    background-color: $blue;
    visibility: hidden;
    transition: .4s;
  }

  &:hover {
    &::before{
      width: 100%;
      visibility: visible;
    }
  }

  svg {
    flex-shrink: 0;
    transition: 0.3s;
  }
}