$blue: #3294F8;
$base-title: #E7EDF4;
$base-subtitle: #C4D4E3;
$base-text: #AFC2D4;
$base-span: #7B96B2;
$base-label: #3A536B;
$base-border: #1C2F41;
$base-post: #112131;
$base-profile: #0B1B2B;
$base-background: #071422;
$base-input: #040F1A;

$font-xs: 0.75rem;
$font-sm: 0.875rem;
$font-md: 1rem;
$font-lg: 1.125rem;
$font-xl: 1.25rem;
$font-2xl: 1.5rem;

$font-weight-regular: 400;
$font-weight-bold: 700;

$line-height: 160%;