@use "./variables" as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: $base-background;
}

a{
  text-decoration: none;
}

ul li { list-style: none; }

img{
  max-width: 100%;
  height: auto;
  display: block;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.main__content{
  margin-top: -4.5rem;
  padding: 0 2rem;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
}

.container {
  width: 100%;
  max-width: 54rem;
  margin: 0 auto;
}