:root{
  --color-blue: #3294F8;
  --color-base-title: #E7EDF4;
  --color-base-subtitle: #C4D4E3;
  --color-base-text: #AFC2D4;
  --color-base-span: #7B96B2;
  --color-base-label: #3A536B;
  --color-base-border: #1C2F41;
  --color-base-post: #112131;
  --color-base-profile: #0B1B2B;
  --color-base-background: #071422;
  --color-base-input: #040F1A;

  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.125rem;
  --font-xl: 1.25rem;
  --font-2xl: 1.5rem;

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  --line-height: 160%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-base-background);
  font-family: "Nunito", sans-serif;
}
